.popup-box {
    position: fixed; /* Sets the element "above" the others */
    background-color: rgb(196, 196, 196, 0.8); /* 0.8 is the opacity */
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.popup {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    background: white;
}